.page{
    text-align: center;
    
}

.pic{
    height: 50vmin;
    margin-top: 10px;
}

.head1{
    
    font-style: italic;
    font-size: 35px;
    padding: 10px;
    color: blanchedalmond;

}

.text{

    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: cornsilk;
    padding-right: 40%;
    padding-left: 40%;
    justify-content: center;
    line-height: 2rem;
    margin-top: 2%;
    text-align: justify;
    
}



.bottom{
    text-align: center;
    position: absolute;
    bottom: 100px;
    margin-left: 45%;
    color: lightyellow;

}

.col{
    
    color: hotpink;
   
    
}
.col:hover{
    color:red;
}

.con{
    padding-top: 0rem;
    color: blanchedalmond;
    font-size: 1.4rem;

}

.con:hover{
    color: red;
}

.sz{
    font: optional;
    font-size: 1.2rem;
    color: blanchedalmond;
    font-style: oblique;
    padding-top: 6rem;
}

.header{
    font:status-bar;
    font-size: 2rem;
    color: lightblue;
    text-decoration-line: underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration-style: double;
    padding-top: 2rem;

}

.zoom{
    color: blanchedalmond;
    font-size: 1.4rem;
    font-family: cursive;
   

}
.zoom:hover{
    font-size: 2rem; 

}